<div class="card flex justify-content-center">

    <div class="flex flex-column gap-2" style="width: 25%;margin: 0 auto;margin-top: 50px;">
        <p-inputNumber [style]="{'width': '100%'}" inputId="integeronly" [(ngModel)]="myId" aria-placeholder="enter Id"></p-inputNumber>
        <button pButton pRipple label="Submit" class="p-button-success" (click)="getById()"></button>
    </div>

    @if(user.name){ 
        @if(!isDeleted){
            <div style="width: 25%;margin: 0 auto; margin-top: 40px;">
                <p-table [value]="users">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 70%;">Name</th>
                            <th style="width: 30%;">Age</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td style="width: 70%;">{{ user.name }}</td> 
                            <td style="width: 30%;">{{ user.age }}</td> 
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="button" style="width: 25%;margin: 0 auto;margin-top: 20px;">
                <p-button label="Delete User" (click)="deleteUserById()" severity="danger"></p-button>
            </div>
        }
        @else {
            <h1 style="width: 20%;margin: 0 auto;font-size: 30px;margin-top: 30px;">Is Deleted</h1>
        }
    } @else {
        <h1 style="width: 25%;margin: 0 auto;font-size: 30px;margin-top: 30px;">Ma'lumot topilmadi</h1>
    }
</div>

